.main{
    display:flex;
    flex-direction:column;
    height:100vh;
    scroll-snap-align: start;
}
.banner{
    width:100%;
    height:100%;
    background-color: #ffffff;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position:relative;
}
.banner_text{
    position: relative;
    display: flex;
    flex-direction: column;
    left:50px;
}
#text{
    margin: 0;
}

.container{
    height:91vh;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
}

section{
    height:91vh;
    scroll-snap-align: start;
}