<div class="body">
    <h2 id="text"><span style="color:red;">About</span> me</h2>
    <div class="para1">
        Hello! I’m Saswata, a passionate software developer with a
        deep enthusiasm for creating engaging and efficient solutions. With a background in full-stack development, I
        specialize in building responsive and
        user-centered applications that solve real-world problems.
        <div class="para2">
            I thrive in collaborative environments, love tackling new challenges, and am constantly pushing myself to
            learn
            and grow. When I’m not coding or designing, you can find me
            exploring new tech trends or capturing moments through photography.
        </div>
    </div>

</div>