
.body{
    background-color: #ffffff;
    height: auto;
    display: inline-block;
    justify-content: center;
    align-items: center;
    position: relative;
}
h2{
    margin:0;
    color:#000;
    width:100vw;
    text-align: center;
}
#text{
    position:relative;
    display:inline-block;
    margin-top:0;
}
.para1{
    width:95%;
    padding:30px;
    position:absolute;
    font-family:"Fira Code", serif;
    font-optical-sizing:auto;
    font-weight: 400;
    font-style: normal;
    justify-content: center;
    text-align: center;

}
.para2{
    width:100%;
    font-family:"Fira Code", serif;
    font-optical-sizing:auto;
    font-weight: 400;
    font-style: normal;
    justify-content: center;
    text-align: center;

}
@media screen and (max-width:600px) {
    .para1{
        width:95vw;
        height:75vh;
        margin-top: 0px;;
        justify-content: center;
        text-align: center;
        overflow-y:scroll;
        font-size:26px;
        padding:13px;
    }
    ::-webkit-scrollbar{
        display: none;
    }
}
@media screen and (max-width:400px) {
    body {
        display:flex;
        flex-direction: column;
        justify-content: center;text-align: center;
        object-fit: contain;
    }
    .para1{
        width:100vw;
        height:75vh;
        margin-top: 0px;;
        justify-content: center;
        text-align: center;
        font-size: 18px;
        padding:0;
        overflow-y: hidden;
    }
    ::-webkit-scrollbar{
        display: none;
    }
}